<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/estilo.css">
</head>

<body>
<div class="formcontainer">
    <h1>Nuevo bus</h1>
    <form action="#" th:action="@{/bus/save}" th:object="${bus}" method="post">
        <input type="hidden" th:field="*{id}" id="id">
        <label for="busPlaca">Placa: </label>
        <input type="text" th:field="*{placa}" id="busPlaca">
        <span th:if="${#fields.hasErrors('placa')}" th:errors="*{placa}"
              th:class="${#fields.hasErrors('placa')} ? 'error' : ''"></span>
        <label for="busModelo">Modelo: </label>
        <input type="text" th:field="*{modelo}" id="busModelo">
        <span th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}"
              th:class="${#fields.hasErrors('modelo')} ? 'error' : ''"></span>
        <button type="submit">Enviar</button>
    </form>
</div>

<a th:href="@{/bus/list}">Cancelar</a>
</body>

</html>