<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
<div class="formcontainer">
    <h1>Nuevo bus</h1>
    <form action="#" th:action="@{/bus/save}" th:object="${bus}" method="post">
        <input type="hidden" th:field="*{id}" id="id">
        <label for="busPlaca">Placa: </label>
        <input type="text" th:field="*{bus}" id="busPlaca">
        <span th:if="${#fields.hasErrors('bus')}" th:errors="*{bus}"
              th:class="${#fields.hasErrors('bus')} ? 'error' : ''"></span>
        <label for="busModelo">Modelo: </label>
        <input type="text" th:field="*{bus}" id="busModelo">
        <span th:if="${#fields.hasErrors('bus')}" th:errors="*{bus}"
              th:class="${#fields.hasErrors('bus')} ? 'error' : ''"></span>
        <button type="submit">Enviar</button>
    </form>
</div>

<a th:href="@{/bus/list}">Cancelar</a>
</body>

</html>